html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.navbar {
  margin-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F9FA;
  color: #212529;
  text-align: center;
}






/*FLEX*/

.flexcontainer_home {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: flex-end;
  justify-content: flex-end;
}

.homeimage {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.homelinks {
  /* This will be twice as */
  /* big as the small item. */
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}



/*referenced from Fabio Biondi, https://codepen.io/fabiobiondi/pen/PqeWGv*/
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2_link {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border: 2px solid grey;
  background-color: #F8F9FA;
}
.grid2x2_link > * {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


/*TESTING*/

* {
  /*border: 2px solid black;*/
}
